<footer id="footer" class="footer bg-dark py-4">
    <div class="container">
        <div class="row">
            <span class="text-light"> <i class="far fa-copyright text-light"></i> YelpCamp 2021 </span>
            <div class="links d-flex gap-1 justify-content-center gap-4 mt-2">
                <a href="https://github.com/abhi9720" class="pl-4">
                    <i class="fab fa-github text-light fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/abhi9720/" class="pl-4">
                    <i class="fab fa-linkedin text-light fa-2x"></i>
                </a>

                <a href="https://abhishektiwari-nitmn.github.io/" class="pl-4">
                    <i class="fas fa-user-circle text-light fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>