<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-white shadow" >
  <div class="container">

    <span class="nav-brand-title" href="/">YelpCamp</span>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto">
        <li id="home" class="nav-item">
          <b><a class="nav-link " href="/"> Home</a></b>
        </li>
        <li id="about" class="nav-item">
          <a class="nav-link" href="/campgrounds"> Campground</a>
        </li>
        <li id="newCampground" class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
       

          <li id="login" class="nav-item">
            <a class="nav-link nav-btn me-2" href="/login">Login</a>
          </li>
          <li id="register" class="nav-item ">
            <a class="nav-link nav-btn" href="/register">Sign Up</a>
          </li>

          

            <li class="nav-item dropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-capitalize" href="#" id="navbarDarkDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">                    
                    <b><%=currentUser.username.toUpperCase() %></b>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light bg-light " aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a type="button" class="dropdown-item" href="#">Profile</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a type="button" class="dropdown-item" href="/logout">Logout </a></li>
                  </ul>
                </li>
              </ul>


              
      </ul>
    </div>

  </div>
</nav>