<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-white shadow-lg fixed-top">
  <div class="container">

    <a href="https://yelpcamp-base.herokuapp.com" class="nav-brand-title fs-2"> <span id="nav-logo"></span> YelpCamp</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-btn"
      aria-controls="navbar-btn" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-btn">


      <ul class="navbar-nav me-auto">
        <li id="home" class="nav-item">
          <b><a class="nav-link " href="/"> Home</a></b>
        </li>
        <li id="about" class="nav-item">
          <a class="nav-link " href="/campgrounds"> Campground</a>
        </li>
        <li id="about" class="nav-item">
          <a class="nav-link " href="/campgrounds/mapview"> Map View</a>
        </li>
        <li id="newCampground" class="nav-item">
          <a class="nav-link " href="/campgrounds/new">New Campground</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto fs-6 fw-4">
        <% if(!currentUser) { %>

          <li id="login" class="nav-item">
            <a class="nav-link nav-btn me-2" href="/login">Login</a>
          </li>
          <li id="register" class="nav-item ">
            <a class="nav-link nav-btn " href="/register">Sign Up</a>
          </li>

          <% } else { %>

            <li class="nav-item dropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class=" dropdown-toggle" href="#" id="user" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <%=currentUser.username%>
                  </a>
                  <ul id="user-list" class="dropdown-menu bg-light shadow bd-0" aria-labelledby="user">
                    <!-- 
                    <li><a type="button" class=" nav-link dropdown-item" href="#">Profile</a></li>
                    <li> -->

                </li>
                <li><a type="button" class="nav-link dropdown-item" href="/logout">Logout </a></li>
              </ul>
            </li>
      </ul>


      <% } %>
        </ul>
    </div>

  </div>
</nav>