<% layout('layout/boilerplate') %>
<div class="container">
    <div class="row">
       <div class="col-md-6  mx-auto mt-4 ">
        <div class="alert alert-danger shadow" role="alert">
            <h4 class="alert-heading">Error <%= err.statusCode  %> !!!</h4>
            <hr>
            <% if (process.env.NODE_ENV !== "production") { %>
            <p class=""> <%= err.message  %> </p>
                                  <% } %> 
        </div>
       </div>
    </div>


</div>
    