<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/clustermap.css">
    <div class="px-lg-4 px-sm-1">
        <div class="container-fluid mapboxcontainer">
            <div class="row mapboxcontainerwrapper">
                <div id="cluster-map"> </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}

    </script>

    <script src="/javascripts/clustermap.js"></script>