<% layout('layout/boilerplate') %>
  <!-- so we are injecting this content into our boiler plate    -->
  <div class="container shadow mt-5">

    <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
     
      <div class="row form">
        <span class="text-center" id="newcamp-title">New Campground</span>
        
      
        <!-- this take 3 col and we offset it by 3 it comes to middle  -->
        

        <div class="col-md-12 col-lg-6 mx-auto">
         
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control input"  type="text" id="title" name="campground[title]" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Enter Campground Name
            </div>


          </div>
          <div class="mb-3">
            <label class="form-label" for="Location">Location</label>
            <input class="form-control input" type="text" id="location" name="campground[location]" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Enter Location
            </div>

          </div>





          <!-- <div class="mb-1">
                  <label class="form-label" for="image">Image URL</label>
                  <input class="form-control" type="text" id="location" name="campground[image]" placeholder="Image-Url" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide a valid Image Url.
                  </div>
                
                </div> -->



          <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input type="number" class="form-control input" id="price" placeholder="0" min="0" aria-label="Price"
                aria-describedby="price-label" name="campground[price]" required>
              <div class="valid-feedback">
                Looks good!
              </div>

              <div class="invalid-feedback">
                Enter Price
              </div>

            </div>
          </div>













          <div class="mb-4">
            <label class="form-label" for="description">Description </label>
            <textarea class="form-control input" type="text" id="newcamp-description" minlength="15" name="campground[description]"
              required></textarea>

            <div class="valid-feedback">
              Looks good!
            </div>

            <div class="invalid-feedback">
             Description should be greater than 20 chracter
            </div>

          </div>











        </div>


        <!-- // file upload section -->

        <div class="col-md-12 col-lg-6 my-5 mx-auto">

          <div class="input-group mb-4">
            <input type="file" class="form-control input" name="image" id="upload-Images" multiple>            
          </div>          
      </div>

      <div class="new-form-btn">
        <a  id="add-camp-btn2" type="button"  href="/campgrounds">Back</a>
        <button id="add-camp-btn1"> Add Campground </button>
        

      </div>

        </div>



    </form>


  </div>