@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  min-width: 320px;
  color: #333;
  background: #f5f8ff !important;
}

::selection {
  background-color: #1e4371;
  color: #fff;
}

.reset {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  line-height: 28px;
  color: #0c163b;
}

a {
  color: black;
  text-decoration: none;
  color: rgb(47, 47, 122);
}

.btn-reset {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.mt-n-5 {
  margin-top: -60px;
}

.error-alert {
  padding: 20px;
  background-color: #f44336;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}

.success-aert {
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: 1000;

  background-color: #4caf50;
  color: #fff;
  border-color: #c6d880;
  width: max-content;
}

.parent-camp-image {
  overflow: hidden;
}

.introtocamp {
  flex-direction: row;
}

.camp-image {
  width: 100%;
  height: 18rem;
  transition: filter 0.7s ease-in;
  transition: all 250ms linear;
}

.camp-image:hover {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #f5f8ff);
  transform: scale(1.1);
}

.camp-image-2 {
  width: 10rem;
  height: 10rem;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.card-divider {
  border-bottom: 1px solid #e1f1ff;
}

.camp-card {
  border: 0;
  padding: 4px;
  border-radius: 5px;
  /* background: rgba(248, 252, 253, 0.973); */
  /* box-shadow: 0px 0px 30px rgba(57, 56, 61, 0.205);    */
  transition: box-shadow 0.7s ease;
}

.camp-card:hover {
  box-shadow: 0px 30px 45px rgba(57, 56, 61, 0.205);
}

.bd-0 {
  border: 0px;
  background-color: transparent;
}

.btn-hover:hover {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}

.pos-a {
  position: absolute;
}

@media (max-width: 1200px) {
  .edit-image {
    float: center;
  }


}


@media (max-width: 700px) {


  .introtocamp {
    flex-direction: column;
  }
}

#nav-logo {
  display: inline-block;
  background-image: url(../img/campFire.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 60px;
  margin-right: -30px;
}

@media (max-width: 991px) {
  #nav-logo {
    height: 33px;
    width: 60px;
    margin-right: -26px;
  }
}


.nav-brand-title,
.nav-brand-title:hover,
.nav-brand-title:active,
.nav-brand-title:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  color: #ff7900;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 4rem;

}

/* 
#camp-title-head{
    font-size:2.9rem ;
    
    line-height: 1rem   ;
      
    color: #0C163B;
    margin: 30px 20px;

    font-weight:400;    
} */

.bg-white {
  background-color: #fff;
}

.logo {
  font-weight: 500;
  font-size: 3rem;
  color: #13386fe0;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0rem;
  display: flex;
  justify-content: center;
}

/* review  */


.review-user {
  color: #0c163b;
  font-size: 1.2rem;
  font-weight: 400;
}

#review-header {
  color: #3a0ca3;
  font-size: 2rem;
}

#review-heading {
  line-height: 3rem;

  border: 1px solid #1312125d;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-bottom: 2rem;
}

.display-review {
  margin-top: 14px;
  padding: 4px;
}



.reviewcard {

  border-radius: 12px;
  border: 0px solid rgb(63, 63, 70);

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px !important;

  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: break-word;

  background-color: #fff;
  color: rgb(63, 63, 70);

  margin: 20px 0px 0px;
  padding: 20px;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;

}

.review-pannel {
  height: fit-content;
  max-height: 50rem !important;
  overflow: auto;
  background-color: inherit;

}

.review-pannel::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.review-pannel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.review-pannel::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #0c163b;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.review-pannel::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}


#add-review-btn {
  background-color: rgb(0, 103, 184);
  color: rgb(255, 255, 255);

  display: inline-block;
  position: relative;
  font-size: 16px;
  max-width: 374px;
  min-width: 120px;
  margin-top: 4px;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  cursor: pointer;
  vertical-align: bottom;
  white-space: pre-line;
  text-transform: none;
  height: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 9px 12px 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
}

.leave-review-btn {
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 32px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 20px;
  font-weight: 700;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ff5050;
  border-color: #ff5050;
  outline: none;
}

.leave-review-btn:hover {
  background-color: #337ab7;

  box-shadow: none;
}

#add-review-btn:hover {
  opacity: 0.9;

  cursor: pointer;
}

.review-text {
  font: 18px;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  line-height: 22x;
  line-break: strict;

  font-weight: 400;
  color: #343a40;
}

#delete-review {
  margin: 0px;
  border: 0px;

  float: right;
  margin-left: 6px;
  color: rgba(255, 0, 0, 0.986);

  background: rgba(235, 233, 233, 0.055) !important;

  font-weight: 400;
  line-height: 24px;
}

.show-card-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;

}

.pannelcardcss {
  transition: all 1s !important;
  background-color: #fff;
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */

  background-color: #f5f8ff;
  background-image: -webkit-linear-gradient(120deg, #f5f8ff 35%, #fefefe 35%);
  min-height: 400px;
}


.pannelcardcss:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}



.campstarttitle::after {
  /* padding-bottom: 160px;
  background-color: transparent;
  border-image-outset: 10px;
  border: 10px solid transparent;
  padding: 15px;
  z-index: 1;
  border-image: url(../img/bee.png) 30 round; */


  /* border-bottom: 190px solid #000; */
  /* border-bottom-image: url(../img/bee.png);
  border-image-width: 0 0 10px 0;
  border-image-repeat: stretch; */


  content: "";
  display: block;
  bottom: 0;

  height: 50px;
  background-image: url('../img/bee3-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

}

@media(max-width:800px) {
  .show-card-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;

  }

  .campstarttitle {
    margin-top: 20px;
    font-weight: 600 !important;
    display: block;
  }

  .hide-sm {
    display: none;
  }

  .removepaddingforsmall {
    padding: 2px;
  }
}

.removepaddingforsmall {
  flex-grow: 1;
}

.dropdown-toggle::after {
  display: none !important;
}

#text-body {
  width: 95%;
  height: 8rem;
  margin-left: 4px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-color: rgb(0, 103, 184);

  line-height: 1.5;
  border-radius: 0px;
}

.bgadded {

  background-color: white;

  -webkit-box-shadow: -1px 5px 5px 0px rgba(224, 220, 224, 0.58);
  -moz-box-shadow: -1px 5px 5px 0px rgba(224, 220, 224, 0.58);
  box-shadow: -1px 5px 5px 0px rgba(224, 220, 224, 0.58);

  padding: 10px;
}

@media(max-width:800px) {
  .bgadded {
    padding: 0px;
  }
}

#text-body:focus {
  border-color: #b87d25;
  box-shadow: 4px 4px 6px 2px #ddc49fb4;
}

#review-feedback {
  display: flex;
  justify-content: start;
}

/* @media(max-width:1160px){
    #text-body{
       margin: 5px;
        width: 100%;
    }
}

@media(max-width:488px){
    #text-body{
       margin: 5px;
        width: 26rem;
    }
}

@media(max-width:470px){
    #text-body{
       margin: 0px;
        width: 90%;
    }
} */

#upload-btn-label {
  background-color: #03045e;
  color: white;
  padding: 0.9rem;

  border-radius: 0.3rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 1rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 400;
}

.description {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #12302e;
  font-size: 1.1rem;
  font-weight: 400;
  overflow-x: hidden;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  white-space: pre-line;
  text-align: start;

}

#new-camp-fom {
  box-shadow: 0 2px 11px 0 rgb(0 0 0 / 35%);
}

#newcamp-description {
  height: 5rem;
}

#author {
  font-size: 1.1rem;
  line-height: 2.4rem;
}

.camp-search-nav {
  border-radius: 10px;
  margin-bottom: 2rem;
}

#search {
  display: flex;
}

.nav-btn {
  width: fit-content;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-bottom: 2px;

  transition: all 0.7s;
}

@media (max-width: 991px) {
  .nav-btn {
    border: 0px;
  }
}

/* // navebar  */
.content {
  flex: 1 0 auto;

}

.footer {
  flex-shrink: 0;
}




.form {
  background-color: white;

  padding: 2rem;
}

#newcamp-title {
  color: #383e49;
  font-size: 2.5rem;
  line-height: 4rem;
  margin-bottom: 1rem;

  font-weight: 600;
}

.new-form-btn {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 4rem;
}

#add-camp-btn1 {
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: .75rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: inline-block;
  color: #4f4f4f;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #1266f1;
  border-color: #1266f1;

}

#add-camp-btn2 {
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: .75rem;
  color: #fff;
  background-color: #1266f1;
  line-height: 1.5;
  padding: 0.75rem 1.6875rem 0.6875rem;
  font-size: .875rem;
  line-height: 1.6;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-right: 20px;
}

#add-camp-btn2:hover {
  background-color: #fff;
  background-color: #0c49aa;
}

#add-camp-btn1:hover {
  background-color: #1266f1;
  color: #fff;
}



.input {
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: none;
}

.input2 {
  text-transform: capitalize;

  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 2px;
  outline: none;
  border: 2px solid rgb(211, 211, 211);
  background: rgba(211, 211, 211, 0.274);
}

.form-control:focus {
  box-shadow: none;
  background-color: white;
  border: 2px solid rgba(29, 119, 255, 0.863);
}

.map {
  margin-top: 0.3rem;
  height: 20rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .map {
    height: 18rem;
    width: 100%;
  }
}

@media (max-width: 667px) {
  .map {
    height: 12rem;
    width: 100%;
  }
}

#city {
  width: 30rem;
}

@media (max-width: 1200px) {
  #city {
    width: 100%;
    /* margin-bottom: 2rem; */
  }
}

@media (max-width: 667px) {
  .map {
    width: 100%;
    /* margin-bottom: 2rem; */
  }
}

/* //====================== nav-bar start  */
#mainNavbar {
  -webkit-box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
  box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
  z-index: 999;
}

@media(max-width:800px) {
  #mainNavbar {
    margin: 10px 5px;
    border-radius: 20px;

  }
}


#navbar-btn a {
  color: #111212 !important;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;

  padding: 10px 15px;
  margin-left: 1.5rem;
  transition: all 0.5s;

}

#navbar-btn a:after {
  content: '';

  width: 100%;
  display: block;



  border-bottom: 3px solid transparent;

  -webkit-transform: scaleX(.0001);
  transform: scaleX(.0001);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: all .2s linear 0.001s;
  transition: all .2s linear;

}

#navbar-btn a:hover:after {
  border-bottom: 3px solid #fb310a;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  width: 100%
}



#user {
  text-transform: capitalize;
  color: #1f79ff;
}

#user-list {
  overflow: hidden;
  background-color: white !important;
  border-radius: 10px;
}

#user-list a {
  box-sizing: border-box;
  margin: 10px 0px;
  text-align: center;
  border: 0px;
  outline: none;
}

@media (max-width: 891px) {
  #user {
    box-sizing: border-box;
    background-color: transparent;
    margin-bottom: 40px;
  }
}


.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  align-items: flex-start !important;
  list-style: none;
}

.card {
  border-radius: 5px !important;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%) !important;
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%) !important;
  margin-bottom: 10px !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

/* .card {
  border: 0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
} */

.newcampform {
  background-image: url('../img/5807322.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}