html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }



body{
    
    background: rgba(235, 233, 233, 0.404) !important;
    font-family: 'Roboto', sans-serif;
    color: #111111
    
}

::selection {
    background-color: #1e4371;
    color: #fff;
}

.reset{
    
    
    font-family: 'Roboto', sans-serif; ;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border:0px;
    
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    
    font-weight: 400;
    line-height: 28px;
    color: #0C163B;
}

a{

    color: black;  
    text-decoration: none;    
    color: rgb(47, 47, 122);
}

.btn-reset{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;

}

.mt-n-5{
    margin-top: -60px;
}

.error-alert{
    padding: 20px;
    background-color: #f44336;
    margin-bottom:1em;
    border:2px solid #ddd;}

.success-aert {
    position: absolute;
    top: 4rem;
    right: 1rem;
   z-index: 1000;
    
    background-color: #4CAF50;
    color:#fff;
    border-color:#c6d880;
    width: max-content;
    }



.camp-image{
	    width: 100%;
		height:18rem;                  
        transition:  filter .7s ease-in;		
}
.camp-image:hover{
    filter: brightness(1.06) drop-shadow(0px 0px 30px #c0bdbd);
}

.camp-image-2{
    width: 10rem;
    height:10rem;                  
    padding: 5px;	
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
}



.card-divider{
    border-bottom: 1px solid #e1f1ff;
}



.camp-card{
    
    border: 0;
    padding: 4px;
    border-radius: 5px;
    /* background: rgba(248, 252, 253, 0.973); */
    /* box-shadow: 0px 0px 30px rgba(57, 56, 61, 0.205);    */
    transition: box-shadow .7s ease;    

}
.camp-card:hover{
    
    box-shadow: 0px 30px 45px rgba(57, 56, 61, 0.205);
}

.bd-0{
    
    border: 0px;
    background-color: transparent;
}

.btn-hover:hover{
    cursor: pointer;
    border: 0px;
    background-color: transparent;

}
.pos-a{
    position: absolute;

}



@media(max-width:1200px){
    .edit-image{
    float: center;

        
    }
}
.nav-brand-title{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
    color:#ff7900;
    font-weight: 700;   
    font-size: 1.5rem;
    margin-right: 4rem;
}

/* 
#camp-title-head{
    font-size:2.9rem ;
    
    line-height: 1rem   ;
      
    color: #0C163B;
    margin: 30px 20px;

    font-weight:400;    
} */

.bg-white{
    background-color: #fff;
}


.logo{
    font-family: 'Roboto', sans-serif; ;
    font-weight: 500;
    font-size: 3rem;
    color: #13386fe0;
    font-weight: 400;
    line-height: 2rem;        
    margin-top: 0rem;
    display: flex;
    justify-content: center;
  }
  
  



  /* review  */
 .review{
     background-color: rgba(187, 184, 184, 0);
     margin-bottom: 0px;
     bottom: 0;
 }

.review-user{
    color: #0c163b;
    font-size: 1.2rem;
    font-weight: 400;
}   

#review-header{
    color: #3a0ca3;
    font-size: 2rem;
}

#review-heading{

    line-height: 3rem;

    border: 1px solid #1312125d;
    border-left: 0px;
    border-right: 0px;   
    border-top: 0px;
    margin-bottom: 2rem;
    
}

 
 
 #add-review-btn{
    background-color: rgb(0, 103, 184);
    color: rgb(255, 255, 255);
  
    display: inline-block;
    position: relative;
    font-size: 16px;
    max-width: 374px;
    min-width: 120px;
    margin-top: 4px;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    vertical-align: bottom;
    white-space:  pre-line;
    text-transform: none;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 9px 12px 10px;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0s;

 
 
 }
 
 #add-review-btn:hover{
    
    opacity: 0.9;
     
     cursor: pointer;
 }




 .review-text{
     color:#1d4371;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-family:  Roboto,   Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    ;
    font-weight: 500;    
    
}

#delete-review{
   margin: 0px;
   border: 0px;
   
   float: right;   
   margin-left: 6px;
   color: rgba(255, 0, 0, 0.986);
   font-weight: 400;
   line-height: 24px;
    -webkit-font-smoothing: antialiased;
    font-family: "Lato","Helvetica";
   
}

.show-card-img{
    width: 100%;
    height: 30rem;
}
.dropdown-toggle::after {
    display: none !important;
}

#menu-icon{
    /* transform: rotate(90deg); */
    
}


#text-body{

    width: 95%;
    height: 8rem;
    margin-left: 4px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    
    line-height: 1.5;
    border-radius: 5px;
    
    
    }
 #text-body:focus{
     border-color: #5AB0DB;

 }   
#review-feedback{
        display: flex;
        justify-content: start;
        
} 


/* @media(max-width:1160px){
    #text-body{
       margin: 5px;
        width: 100%;
    }
}

@media(max-width:488px){
    #text-body{
       margin: 5px;
        width: 26rem;
    }
}

@media(max-width:470px){
    #text-body{
       margin: 0px;
        width: 90%;
    }
} */

#upload-btn-label{
    background-color: #03045e;
    color: white;
    padding: 0.9rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 1rem;
}

.form-label{
    font-size: 1.2rem;
    font-weight: 400;
}

.description{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Lato","Helvetica";
    color: #12302e;
    
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    
}

#newcamp-description{
    height: 15rem;
}


#author{
        font-size: 1.1rem;
        line-height: 2.4rem;

}



.camp-search-nav{
    
    border-radius: 10px;
    margin-bottom: 2rem;

}

#search{

    display: flex;
    
}



.nav-btn{
    width: fit-content;
    border-radius: 4px;        
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
     margin-bottom: 2px ;
    
  
    transition: all 0.7s;
    
   
}

 
@media(max-width:991px){
    .nav-btn{
        border: 0px;

    }
}
 
  /* // navebar  */
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

/* 
  #header-image{
    height: 75vh;
    opacity: 0.8;
    background-image: url("https://www.threeriversparks.org/sites/default/files/2019-03/Baker%20campground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);  
  } */

  
  .form{
      background-color: white;
     
      
      padding: 2rem;
     

  }

  #newcamp-title{
      color:  #383e49;;
    font-size: 2.5rem;
   line-height: 4rem;
   margin-bottom: 1rem;;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 600;
  }


  .new-form-btn{
    display:   flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-bottom: 3rem;
margin-top: 4rem;
  }




  #add-camp-btn1,#add-camp-btn2{
    font-family: 'Maven Pro', sans-serif;
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #189cf0;
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid transparent;
    border-radius: 12rem;
    color: #fff;
    font-weight: 400;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  

  
  #add-camp-btn2{
      padding:0.9rem 2rem ;
      border-radius: 0px;
      background-color: rgb(28, 36, 36);
  }

  #add-camp-btn2:hover {
    background-color: #fff;
    border-color: #189cf0;
    color: #189cf0;
  }

  #add-camp-btn1:hover {
    background-color: #fff;
    border-color: #189cf0;
    color: #189cf0;
}

@media(max-width:370px){
    #add-camp-btn2{
        padding:0.2rem 1rem ;
        border-radius: 0px;
        background-color: rgb(28, 36, 36);
    }
  

}

@media(max-width:370px){
    #add-camp-btn1{
        padding:0.2rem 1rem ;
         
        
    }
  

}

.input{
    
    border: 1px  solid black;
    border-radius: 0px;
    box-shadow: none;
    
}
.input2{
    text-transform: capitalize;
    border-radius: 6px;
    width: 100%;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}
.form-control:focus {
        
    box-shadow:none;
}


.map{
    margin-top: .3rem;
    height:24rem;
    width: 30rem;
    
}

@media(max-width : 1200px){
    .map{
        
        height: 18rem;
        width: 100%;
        
    }
}

@media(max-width : 667px){
    .map{
        height: 12rem;
        width: 100%;
        margin-bottom: 2rem;
    }
}

#city{
    width: 30rem;
    
}

@media(max-width : 1200px){
    #city{
      width: 100%;
       margin-bottom: 2rem;
        
    }
}

@media(max-width : 667px){
    .map{
    width: 100%;
        margin-bottom: 2rem;
    }
}

