@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../img/landing.avif");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.nav-brand-title {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  color: #ff7900;
  font-weight: 700;
  font-size: 1.5rem;

}

.mtn5 {
  margin-top: -25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

#nav-logo {
  display: inline-block;
  background-image: url(../img/campFire.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  margin-right: -30px;

}



.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: #fff !important;
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {

  border-bottom-color: #ff7900;
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}

.home-btn-view {
  background: transparent;
  color: #ffa260;
  border: 2.5px solid;
  padding: 0.6rem .7rem;
  font-size: 1.4rem;
  transition: all 0.5s;
}

.home-btn-view:hover {
  border-color: #f1ffc5;
  color: #f1ffc5;

  box-shadow: 0 0.5em 0.5em -0.4em #f1ffc5;

  cursor: pointer;
}

.lead {
  display: block;
}

body {
  animation: fadeInAnimation ease-in-out 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media (max-width: 991px) {
  #nav-logo {
    height: 33px;
    width: 60px;
    margin-right: -26px;
  }

  .mtn5 {
    margin-top: 0px !important;
  }

  .cover-container {
    max-width: 98vw;
  }
}