
body{
  min-height: 100vh;
}

.input{

  border-color: teal  ;
}

.login-btn{
background-color: white;
border-color: rgb(0, 136, 199);
color: rgb(0, 136, 199);
border-radius: 25px;
padding:2px 14px  ;
font-size: 1.5rem;




}

.login-btn:hover{

  background-color:  rgb(0, 136, 199);

}