#search-btn {

  border: 0;
  border-radius: 0px;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  height: 50px;
  width: 50px;
}

#searchinput input {
  font-weight: 900 !important;
}

.searchwrapper {
  padding: 10px 3px;
  background-color: white;

  -webkit-box-shadow: -1px 5px 5px 0px rgba(224, 220, 224, 0.58);
  -moz-box-shadow: -1px 5px 5px 0px rgba(224, 220, 224, 0.58);
  box-shadow: -1px 5px 5px 0px rgba(224, 220, 224, 0.58);
  border-radius: 10px;
}

.searchinput {
  flex: 1;
  border: none;
  outline: none;
  /* background-color: #f7f7f7; */
  border: none;
  color: #191b46fc;
  padding: 7px 13px;
  font-weight: 900;
  text-transform: capitalize;

}

#searchbar {
  background-color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid #dcdcdc;
  color: #12302e;
  font-size: 1rem;
  width: 80%;

}

#navbar-search {
  /* background-color: rgba(255, 255, 255, 0.253); */
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  padding-bottom: 8px;
  position: static;

}




@media(max-width:740px) {
  #sort-btn {
    padding: 0.2rem 1.1rem;
    ;
    margin-right: 4px;

    border: 0px;

  }

  #searchbar {
    font-size: 1rem;
  }
}